In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/123/train.csv', index_col='pair_id')
df.index.name = None

In [ ]:
df

,name_1,name_2,is_duplicate
1,Iko Industries Ltd.,"Enormous Industrial Trade Pvt., Ltd.",0
2,Apcotex Industries Ltd.,Technocraft Industries (India) Ltd.,0
3,"Rishichem Distributors Pvt., Ltd.",Dsa,0
4,Powermax Rubber Factory,Co. One,0
5,Tress A/S,Longyou Industries Park Zhejiang,0
...,...,...,...
497815,BIT-MAT PRODUCTS,The Goodyear Tire and Rubber Company,0
497816,"Bnd Trading Co., Ltd.",Zhong Shan Yue Liang Economy& Trade Imp. & Exp...,0
497817,"Xeikon Industrial Co., Ltd. Of Dongguan City","Yi Cheng Trading Co., Ltd. Of Dongguan City",0
497818,"Shanghai Kechuan Trading Co., Ltd.",Shanghai M&G Stationery Inc.,0
497819,Dih Wei Industries Co.,Burlington Industries Corporate,0

In [ ]:
df.columns

Index(['name_1', 'name_2', 'is_duplicate'], dtype='object')

In [ ]:
df['is_duplicate'].value_counts()

0    494161
1      3658
Name: is_duplicate, dtype: int64

In [ ]:
df.describe()

        is_duplicate
count  497819.000000
mean        0.007348
std         0.085405
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [ ]:
df[df['is_duplicate']==1].tail(30)

,name_1,name_2,is_duplicate
492384,Zeon France,Zeon Europe Gmbh,1
492747,Gestion Soprema Canada Inc.,soprema Soprema sas,1
493296,"Dow Chemical (Shanghai) Co., Ltd.",Dow Chemical Thailand Ltd.,1
493342,APS,APS Paving&Stone Inc,1
493399,Michelin India Private Ltd.,Sociedade Michelin De Participacoes Ind E Come...,1
493922,Bridgestone International Group,Bridgestone Firestone Venezolana,1
493995,Pt Bridgestone Tire Indonesia,Bridgestone Stargard Sp Zoo,1
494077,Bridgestone India,Bridgestone Firestone De Mexico Sa De Cv,1
494088,"Marks And Spencer Reliance India Pvt., Ltd.",Reliance Brands,1
494405,SOPREMA BLONIE,SOPREMA SALGAREDA,1
494499,Bridgestone Hosepower Llc,Bridgestone Neumaticos De,1
494569,Bridgestone De Costa Rica S.A.,Pt Bridgestone Tire Indonesia,1
494598,Sumitomo Warehouse (Usa.) Inc.,Sumitomo Rubber Usa 10 Sheridan,1
494780,Arlanxeo Canada Inc.,Arlanxeo Singapore Pte. Lt,1
494852,Kuraray India Private Ltd.,Kuraray America Inc.,1
495014,Bridgestone Tire,Bridgestone Canada Inc.,1
495022,Huizhou Lcy Elastomers Corp.,Lcy Elastomers Lp,1
495038,Sika Sa,Sika Pakistan (Pvt) Ltd.,1
495236,Arlanxeo Singapore Pte. Lt,"Arlanxeo Singapore Pte., Ltd. Tearlanxeo Canad...",1
495483,"Michelin Siam Co., Ltd.","Shanghai Michelin Warrior Tyre Co., Ltd.",1
495751,Bridgestone India,Bridgestone Firestone Venezolana,1
495937,"Adams Resources Exploration Corporation, Oil A...","Adams Resources Exploration Corporation, Oil A...",1
495980,Bridgestone Firestone Venezolana C,"Bridgestone (Huizhou) Tire Co., Ltd.",1
496076,Bridgestone De Mexico S.A. De C.V.,Bridgestone De Costa Rica S.A.,1
496238,Bridgestone Stargard Sp Zoo,Bridgestone International Group,1
496575,"Bridgestone ï¼ˆHuizhouï¼‰Synthetic Rubber Co., Ltd.","Bridgestone India Pvt., Ltd.",1
496761,Arlanxeo International Group,Arlanxeo Corp.,1
497016,Brenntag Peru S.A.C.,Brenntag Chile Comercial E Industrial Ltda,1
497084,Dow Chemical International Private Ltd.,Dow Chemical Pacific,1
497606,"Bridgestone ï¼ˆHuizhouï¼‰Synthetic Rubber Co., Ltd.",Bridgestone International Group,1

In [ ]:
str(round(3658/497819*100, 2)) + '%'

'0.73%'

## BERT

In [ ]:
pip install sentence-transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sentence-transformers in /usr/local/lib/python3.7/dist-packages (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.7.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (4.64.1)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (0.1.97)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.12.1+cu113)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.21.6)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (1.0.2)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (3.7)
Requirement already satisfied: torchvision in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (0.13.1+cu113)
Requirement already satisfied: huggingface-hub>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (0.10.1)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from sentence-transformers) (4.23.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (4.1.1)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (6.0)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (21.3)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (3.8.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (5.0.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (2.23.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.9->huggingface-hub>=0.4.0->sentence-transformers) (3.0.9)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.13.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2022.6.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->huggingface-hub>=0.4.0->sentence-transformers) (3.9.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk->sentence-transformers) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk->sentence-transformers) (7.1.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2022.9.24)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (1.24.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sentence-transformers) (3.1.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.7/dist-packages (from torchvision->sentence-transformers) (7.1.2)

In [ ]:
sentences = [
    "Three years later, the coffin was still full of Jello.",
    "The person box was packed with jelly many dozens of months later."
]

In [ ]:
from sentence_transformers import SentenceTransformer

model = SentenceTransformer('bert-base-nli-mean-tokens')

In [ ]:
sentence_embeddings = model.encode(sentences)

In [ ]:
sentence_embeddings.shape

(2, 768)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cosine_similarity(
    [sentence_embeddings[0]],
    sentence_embeddings[1:]
)

array([[0.72192585]], dtype=float32)

##Company dataset

In [ ]:
def save_feather(df, path="dummy.feather"):
    df = df.reset_index()
    df.to_feather(path)


def load_feather(path="dummy.feather"):
    df = pd.read_feather(path)
    df.set_index("index", inplace=True)
    df.index.name = None
    return df

In [ ]:
%%time
res_1 = model.encode(df['name_1'].tolist(), device='cuda')

CPU times: user 7min 45s, sys: 4.82 s, total: 7min 50s
Wall time: 7min 44s

In [ ]:
res_1.shape

(497819, 768)

In [ ]:
res_1_new = []
for row in res_1:
  res_1_new.append([row])

In [ ]:
df['name_1_vec'] = res_1_new

In [ ]:
%%time
res_2 = model.encode(df['name_2'].tolist(), device='cuda')

CPU times: user 8min 7s, sys: 3.68 s, total: 8min 11s
Wall time: 8min 1s

In [ ]:
res_2.shape

(497819, 768)

In [ ]:
res_2_new = []
for row in res_2:
  res_2_new.append([row])

In [ ]:
df['name_2_vec'] = res_2_new

In [ ]:
df

,name_1,name_2,is_duplicate,name_1_vec,name_2_vec
1,Iko Industries Ltd.,"Enormous Industrial Trade Pvt., Ltd.",0,"[[0.47906685, -0.018307494, 0.8659092, 0.00746...","[[0.23672503, 0.20861588, 0.65479594, -0.33483..."
2,Apcotex Industries Ltd.,Technocraft Industries (India) Ltd.,0,"[[0.38661674, 0.28115824, 1.2294472, 0.1060093...","[[0.49608287, 0.34703, 1.1601655, 0.03730471, ..."
3,"Rishichem Distributors Pvt., Ltd.",Dsa,0,"[[0.37602335, -0.31091407, 1.4761279, 0.348256...","[[-0.20695913, -0.3746192, 1.9735249, 0.609453..."
4,Powermax Rubber Factory,Co. One,0,"[[0.8159301, 0.19555168, 0.34510884, 0.0846300...","[[-0.4201645, -0.25693762, 1.7722572, 0.343720..."
5,Tress A/S,Longyou Industries Park Zhejiang,0,"[[0.3190953, -0.12776783, 2.0092118, 0.5302498...","[[0.6108755, -0.11318119, 0.8775512, 0.4646003..."
...,...,...,...,...,...
497815,BIT-MAT PRODUCTS,The Goodyear Tire and Rubber Company,0,"[[0.20780802, -0.6715281, 2.0279653, 0.7159105...","[[0.31035164, 0.71524155, 0.57812494, -0.10999..."
497816,"Bnd Trading Co., Ltd.",Zhong Shan Yue Liang Economy& Trade Imp. & Exp...,0,"[[0.037580643, 0.21497345, 0.8158344, -0.01970...","[[-0.025509257, 0.025165878, 0.93238294, -0.06..."
497817,"Xeikon Industrial Co., Ltd. Of Dongguan City","Yi Cheng Trading Co., Ltd. Of Dongguan City",0,"[[0.36738318, 0.28829822, 0.6744457, 0.0161244...","[[0.33165696, 0.055881154, 0.7257623, -0.01566..."
497818,"Shanghai Kechuan Trading Co., Ltd.",Shanghai M&G Stationery Inc.,0,"[[-0.18972985, 0.10943819, 0.11614183, -0.1188...","[[-0.37692702, 0.52669895, 0.024338875, 0.0405..."
497819,Dih Wei Industries Co.,Burlington Industries Corporate,0,"[[0.5579623, 0.25895452, 0.8578779, 0.10731172...","[[0.7804726, 1.1895227, 0.5555147, -0.736788, ..."

In [ ]:
def save_feather(df, path="dummy.feather"):
    df = df.reset_index()
    df.to_feather(path)


def load_feather(path="dummy.feather"):
    df = pd.read_feather(path)
    df.set_index("index", inplace=True)
    df.index.name = None
    return df

In [ ]:
%%time
save_feather(df, '/content/drive/MyDrive/123/df_vec.feather')

CPU times: user 9.8 s, sys: 5 s, total: 14.8 s
Wall time: 23 s

In [ ]:
%%time
df_vec = load_feather('/content/drive/MyDrive/123/df_vec.feather')

CPU times: user 2.98 s, sys: 5.39 s, total: 8.37 s
Wall time: 17.1 s

In [ ]:
df_vec

,name_1,name_2,is_duplicate,name_1_vec,name_2_vec
1,Iko Industries Ltd.,"Enormous Industrial Trade Pvt., Ltd.",0,"[[0.47906685, -0.018307494, 0.8659092, 0.00746...","[[0.23672503, 0.20861588, 0.65479594, -0.33483..."
2,Apcotex Industries Ltd.,Technocraft Industries (India) Ltd.,0,"[[0.38661674, 0.28115824, 1.2294472, 0.1060093...","[[0.49608287, 0.34703, 1.1601655, 0.03730471, ..."
3,"Rishichem Distributors Pvt., Ltd.",Dsa,0,"[[0.37602335, -0.31091407, 1.4761279, 0.348256...","[[-0.20695913, -0.3746192, 1.9735249, 0.609453..."
4,Powermax Rubber Factory,Co. One,0,"[[0.8159301, 0.19555168, 0.34510884, 0.0846300...","[[-0.4201645, -0.25693762, 1.7722572, 0.343720..."
5,Tress A/S,Longyou Industries Park Zhejiang,0,"[[0.3190953, -0.12776783, 2.0092118, 0.5302498...","[[0.6108755, -0.11318119, 0.8775512, 0.4646003..."
...,...,...,...,...,...
497815,BIT-MAT PRODUCTS,The Goodyear Tire and Rubber Company,0,"[[0.20780802, -0.6715281, 2.0279653, 0.7159105...","[[0.31035164, 0.71524155, 0.57812494, -0.10999..."
497816,"Bnd Trading Co., Ltd.",Zhong Shan Yue Liang Economy& Trade Imp. & Exp...,0,"[[0.037580643, 0.21497345, 0.8158344, -0.01970...","[[-0.025509257, 0.025165878, 0.93238294, -0.06..."
497817,"Xeikon Industrial Co., Ltd. Of Dongguan City","Yi Cheng Trading Co., Ltd. Of Dongguan City",0,"[[0.36738318, 0.28829822, 0.6744457, 0.0161244...","[[0.33165696, 0.055881154, 0.7257623, -0.01566..."
497818,"Shanghai Kechuan Trading Co., Ltd.",Shanghai M&G Stationery Inc.,0,"[[-0.18972985, 0.10943819, 0.11614183, -0.1188...","[[-0.37692702, 0.52669895, 0.024338875, 0.0405..."
497819,Dih Wei Industries Co.,Burlington Industries Corporate,0,"[[0.5579623, 0.25895452, 0.8578779, 0.10731172...","[[0.7804726, 1.1895227, 0.5555147, -0.736788, ..."